@import 'tailwindcss';

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
  }


  .flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
  }


  .card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
  }


  .flipped .back {
    transform: rotateY(90deg);
    transition-delay: "0s";
  }


}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #260a42;
}